.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botones {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 30vh; /* Establecer la altura al 100% de la ventana */
}

.opcion {
  margin: 10px; /* Ajusta el margen en todos los lados de las imágenes */
}

.opcion img {
  max-width: 100px; /* Ajusta el tamaño máximo de las imágenes según sea necesario */
  margin: 0 10px; /* Ajusta el margen superior e inferior de las imágenes */
}

/* Estilos para el marcador */
.marcador {
  margin-bottom: 20px; /* Ajusta el margen inferior del marcador según tus necesidades */
}
